################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RetailCore.MVC/.vs/RetailCore/CopilotIndices/17.14.1091.29919
/RetailCore/.vs/RetailCore/CopilotIndices/17.14.1091.29919
/RetailCore/bin/Debug/net8.0
/RetailCore/obj
/RetailCore/.vs/RetailCore
/RetailCore/RetailCore/.vs
/RetailCore/RetailCore/obj
*.suo
/RetailCore.MVC/.vs/RetailCore/v17/DocumentLayout.json
/RetailCore/RetailCore.DataAccess/obj
/RetailCore/RetailCore.Model/obj
/RetailCore/RetailCore.Utilities/obj
/RetailCore/.vs/ProjectEvaluation
/RetailCore/RetailCore.Web/.vs
/RetailCore/RetailCore.Web/obj
/RetailCore/RetailCore.DataAccess/bin/Debug/net8.0
/RetailCore/RetailCore.Model/bin/Debug/net8.0
/RetailCore/RetailCore.Utilities/bin/Debug/net8.0
/RetailCore/RetailCore.Web/bin/Debug/net8.0
