################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RetailCore.MVC/.vs/RetailCore/CopilotIndices/17.14.1091.29919
